<div id="intro" class="grid">
    <div id="personal-details" class="col-4-12">
        <p id="hello-world" class="animate__animated animate__heartBeat">Hello World, </p>
        <p id="i-am" class="animate__animated animate__jackInTheBox">I'm</p>             
        <p class="name animate__animated animate__rollIn">Avile Sindelo.</p>
        <span id="web-dev-span" class="animate__animated animate__fadeInLeft">Fullstack Web Developer</span>
    </div> 
</div>
    <div id="about" class="row">
        <div class="col-7">
            {{!-- <h2 id="full-name" class="animate__animated animate__bounceInLeft">Avile Sindelo</h2> --}}
            <h4 id="about-web-dev" class="animate__animated animate__bounceInLeft">I'm a : <span id="typed-element"></span></h4>

            <p id="descriptive-text" class="animate__animated animate__bounceInLeft">
                Welcome to the portfolio website of Avile Sindelo, </br>
                a talented junior web developer passionate about creating engaging and user-friendly digital experiences. 
                With a strong foundation in HTML, CSS, and JavaScript, I am continuously expanding my skills to deliver modern and impactful websites and web apps. </br></br>
                This portfolio showcases my projects, demonstrating my dedication to clean and human-readable code, responsive design, and a focus on user experience.
                From personal websites to small business solutions, I am eager to contribute my expertise and collaborate on exciting web development experiences.
            </p>
        </div>
        <div class="col-5">
            <div id="image-div"><img id="image" class="animate__animated animate__rotateIn" src="images/avile.JPG"/></div>
        </div>
    </div>

    {{!-- Skills --}}

    <div id="skills" class="fader"> 
        <div class="row">
            <div class="col-12">
                <h1 id="my-skills-heading" class="section-heading">My Skills</h1>
            </div>
        </div>
        
        <div class="row">
            <!-- TECH -->
            <div class="col-6  skillset"> 
                <h3 class="technical-skills">Technical Skills</h3>
            
                {{#each skills}}
                    <div class="each-skill">
                        <label class="skill-text" for="html">{{name}} - {{category}}</label>
                        {{!-- <progress class="progress" id="html" value="{{ability_percentage}}" max="100"> {{ability_percentage}}% </progress> --}}
                    </div>
                {{/each}}
            </div>
            
            <!-- DESIGN -->
            <div class="col-6 skillset"> 
                <h3 class="technical-skills">Design Skills</h3>
                <!-- UI/UX -->
                <div class="each-skill">
                    <label class="skill-text" for="ui-ux">UI / UX</label>
                    {{!-- <progress class="progress" id="ui-ux" value="86" max="100"> 86% </progress> --}}
                </div>
                <!-- Web -->
                <div class="each-skill">
                    <label class="skill-text" for="web-design">Web</label>
                    {{!-- <progress class="progress" id="web-design" value="80" max="100"> 80% </progress> --}}
                </div>
                <!-- Logo -->
                <div class="each-skill">
                    <label class="skill-text" for="logo-design">Logo</label>
                    {{!-- <progress class="progress" id="logo-design" value="82" max="100"> 82% </progress> --}}
                </div>
                <!-- Figma -->
                <div class="each-skill">
                    <label class="skill-text" for="figma-design">Figma</label>
                    {{!-- <progress class="progress" id="figma-design" value="42" max="100"> 42% </progress> --}}
                </div>
            </div>
        </div>
    </div>
    <!--- Education & Experience -->
    <div id="education" class="row">
        <div class="col-6">
            <h3 class="edu-exp-heading"> Education </h3>
            <ul class="edu-exp-list">
                <li class="list-item black-text">codeX Agile Web Development training programme - 2023 </li>
                <li class="list-item black-text">freeCodeCamp - 2022</li>
                <li class="list-item black-text">W3Schools - 2019</li>
                <li class="list-item"><a href="https://freecodecamp.org/Avile_Kimson_Sindelo">freeCodeCamp certification </a></li>
                <li class="list-item"><a href="../public/documents/2023 AWD codeX Certificate Avile Sindelo.pdf" download >codeX Agile Web Development certification - download</a></li>
            </ul>
        </div>

        <div class="col-6">
            <h3 class="edu-exp-heading "> Experience </h3>
            <ul class="edu-exp-list ">
                <li class="black-text list-item">codeX student : Feb/2023 - Dec/2023 </li>
                <p id="experience-text" style="font-size:80%; padding-top: 0;" class="blact-text">
                    As a student at codeX, I plan small and medium scale software solutions on a Kanban board using the Thin-Slicing approach.</br>
                    Upon plan approval by mentors, I build the solution using the HTML, CSS and JS.</br>
                    Constantly communicate with mentors on regular intervals, and its prioritized. </br>
                    Test the solution with MochaJS.</br>
                    Deploy the solution on Github pages and demo it from there at the end of each weekly sprint.
                </p>
            </ul>
        </div>
    </div>

    <!-- Projects below -->
    <div id="projects">
        <div class="row">
            <h2 class="section-heading"> My Projects </h2>
            <div class=" row-display" >
                {{#each projects}}
                    <div class="project-card col-3">
                        <hr class="horizontal">
                        <h3 class="project-heading"> {{name}} </h3>
                        <img src={{image_url}}  alt="project 1" class="project-image">
                        <div class="project-description">
                            <p class="project-text black-text"> 
                               {{description}}
                               <a href={{url}}>Open project</a>
                            </p>
                            <hr class="horizontal">
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>    

    <div id="contact" class="fader">
        <h2 class=" section-heading">Contact Me!</h2>
        <div class="row">
            <div class="col-6" id="contact-details-div">
                <div id="contact-details">
                    <div class="each-contact-detail">
                        <span class="fa fa-paper-plane-o icon"></span>
                        <label id="email-address"><strong>Email Address:</strong>  avilesindelo@gmail.com</label>
                    </div>

                    <div class="each-contact-detail">
                        <span class="fa fa-linkedin-square icon"></span>
                        <label id="linkedIn"><strong>LinkedIn:</strong>  <a href="https://www.linkedin.com/in/avile-sindelo-4966351b0/">LinkedIn Profile</a></label>
                    </div>

                    <div class="each-contact-detail">
                        <span class="fa fa-volume-control-phone icon"></span>
                        <label id="contact-number"><strong>Phone:</strong>  0694496918</label>
                    </div>
                    
                    <div class="each-contact-detail">
                        <span class="fa fa-map-marker icon"></span>
                        <label id="physical-address">
                            <strong>Address:</strong>  266 Chief Holomisa Street,
                            Zimbane A/A,
                            Mthatha,
                            5099,
                            Eastern Cape,
                            South Africa
                        </label>
                    </div>
                </div>              
            </div>

            <form action="/email" method="post">
                <div class="col-6" id="contact-form">
                    <div class="row  form">
                        <div class="col-12">
                        <div class="row">
                            <div class="col-6 contact-label">Full Name</div>
                            <div class="col-6">
                                <input type="text" class="contact-input" name="customername" id="name-input" placeholder="Enter your name ...">
                            </div>
                        </div> 
                        </div>

                        <div class="col-12">
                            <div class="row">
                            <div class="col-6 contact-label">Email address</div>
                            <div class="col-6">
                                <input type="text" class="contact-input" name="customeremail" id="email-input" placeholder="Enter your email address ..">
                            </div>
                            </div> 
                        </div>

                        <div class="col-12">
                            <div class="row">
                            <div class="col-6 contact-label">Message</div>
                            <div class="col-6">
                                <textarea id="contact-message"  name="customermessage" placeholder="Your message goes here ..."></textarea>
                            </div>
                            </div> 
                        </div>
                        <button type="submit" id="submitBtn">Send email!</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <script src="script.js"></script>
    <script>
        var typed = new Typed('#typed-element', {
            strings: ['Software scientist,', 'Agile Web Developer,', 'JavaScript junkie,', 'Object-Oriented Programmer,', 'Technological literate,', 'Aeronautics enthusiast,', 'Peace Officer as well!'],
            typeSpeed: 150,
            backDelay: 2000,
            startDelay: 7500,
            loop: true
        });
    </script>